# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yohannes.getu\Desktop\Python\2\App-10-Cinema-Ticket-Booking\Cinema-Booking-App-python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
